FirstwWebWithWCF/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multipli">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultipliResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MultipliResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Divide">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num1" type="xs:double" />
        <xs:element minOccurs="0" name="num2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DivideResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DivideResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>